
@{Layout = null;
    }
<h1>视频<span style="color:red">1</span></h1>
<video controls="controls" width="800px" >
    <source src="~/Files/11.mp4" type="video/mp4" />
    Your browser does not support the video tag.
</video>
<h1>视频<span style="color:red">2</span></h1>
<video controls="controls" width="800px" >
    <source src="~/Files/22.mp4" type="video/mp4" />
    Your browser does not support the video tag.
</video>
<h1>视频<span style="color:red">3</span></h1>
<video controls="controls" width="800px">
    <source src="~/Files/[thz.la]DLCWPBD-165cd1.mp4" type="video/mp4" />
    Your browser does not support the video tag.
</video>
<h1>视频<span style="color:red">4</span></h1>
<video controls="controls" width="800px">
    <source src="~/Files/[thz.la]DLCWPBD-165cd2.mp4" type="video/mp4" />
    Your browser does not support the video tag.
</video>