body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:734px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:15px;
  top:12px;
  width:718px;
  height:857px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:857px;
}
#u1 {
  position:absolute;
  left:2px;
  top:420px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:15px;
  top:13px;
  width:716px;
  height:75px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:75px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:299px;
  top:30px;
  width:152px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:30px;
  color:#F2F2F2;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:39px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:34px;
  top:31px;
  width:43px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:30px;
  color:#F2F2F2;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:39px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:18px;
  top:193px;
  width:715px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:698px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:715px;
  height:1px;
}
#u9 {
  position:absolute;
  left:14px;
  top:198px;
  width:226px;
  height:665px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:665px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:2px;
  width:220px;
  height:736px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:736px;
}
#u11 {
  position:absolute;
  left:2px;
  top:360px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:2px;
  width:225px;
  height:705px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#FF9900;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u13_img.selected {
}
#u13.selected {
}
#u14 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:50px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u15_img.selected {
}
#u15.selected {
}
#u16 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:100px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:150px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u19_img.selected {
}
#u19.selected {
}
#u20 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:200px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u21_img.selected {
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:250px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u23_img.selected {
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:300px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u25_img.selected {
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:350px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u27_img.selected {
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:400px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u29_img.selected {
}
#u29.selected {
}
#u30 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:450px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u31_img.selected {
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:500px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u33_img.selected {
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:550px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u35_img.selected {
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:600px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u37_img.selected {
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:650px;
  width:220px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#797979;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:1px;
  width:6px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:52px;
}
#u42 {
  position:absolute;
  left:2px;
  top:18px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:256px;
  top:211px;
  width:462px;
  height:560px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:560px;
}
#u44 {
  position:absolute;
  left:2px;
  top:272px;
  width:458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:262px;
  top:215px;
  width:263px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#797979;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:34px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:712px;
  top:211px;
  width:12px;
  height:506px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:506px;
}
#u48 {
  position:absolute;
  left:2px;
  top:245px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:15px;
  top:88px;
  width:719px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:57px;
}
#u50 {
  position:absolute;
  left:2px;
  top:20px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:44px;
  top:101px;
  width:606px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:33px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:64px;
  top:107px;
  width:19px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u54 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:77px;
  top:117px;
  width:7px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:-10px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:4px;
  width:7px;
  height:2px;
}
#u56 {
  position:absolute;
  left:101px;
  top:107px;
  width:105px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#BCBCBC;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:672px;
  top:107px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#BCBCBC;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:262px;
  top:262px;
  width:263px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#797979;
  text-align:left;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:34px;
}
#u61 {
  position:absolute;
  left:2px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:262px;
  top:310px;
  width:263px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#797979;
  text-align:left;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:34px;
}
#u63 {
  position:absolute;
  left:2px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:262px;
  top:358px;
  width:263px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#797979;
  text-align:left;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:34px;
}
#u65 {
  position:absolute;
  left:2px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:262px;
  top:404px;
  width:263px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#797979;
  text-align:left;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:34px;
}
#u67 {
  position:absolute;
  left:2px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:262px;
  top:452px;
  width:263px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#797979;
  text-align:left;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:34px;
}
#u69 {
  position:absolute;
  left:2px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:262px;
  top:499px;
  width:263px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#797979;
  text-align:left;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:34px;
}
#u71 {
  position:absolute;
  left:2px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:262px;
  top:545px;
  width:263px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#797979;
  text-align:left;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:34px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:262px;
  top:593px;
  width:263px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#797979;
  text-align:left;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:34px;
}
#u75 {
  position:absolute;
  left:2px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:262px;
  top:637px;
  width:263px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#797979;
  text-align:left;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:34px;
}
#u77 {
  position:absolute;
  left:2px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:252px;
  top:681px;
  width:472px;
  height:155px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:155px;
}
#u79 {
  position:absolute;
  left:2px;
  top:70px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:405px;
  top:222px;
  width:56px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#AEAEAE;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:439px;
  top:269px;
  width:64px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#AEAEAE;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:337px;
  top:317px;
  width:64px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#AEAEAE;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:341px;
  top:366px;
  width:56px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#AEAEAE;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:375px;
  top:411px;
  width:64px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#AEAEAE;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:404px;
  top:460px;
  width:64px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#AEAEAE;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:326px;
  top:506px;
  width:56px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#AEAEAE;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:464px;
  top:552px;
  width:56px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#AEAEAE;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:341px;
  top:599px;
  width:64px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#AEAEAE;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:340px;
  top:643px;
  width:56px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#AEAEAE;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:686px;
  top:223px;
  width:24px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u101 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:686px;
  top:269px;
  width:24px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u103 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:686px;
  top:317px;
  width:24px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:686px;
  top:363px;
  width:24px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u107 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:686px;
  top:411px;
  width:24px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:10px;
  color:#FFFFFF;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u109 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:686px;
  top:457px;
  width:24px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:10px;
  color:#FFFFFF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u111 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:686px;
  top:509px;
  width:24px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u113 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:686px;
  top:555px;
  width:24px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u115 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:686px;
  top:601px;
  width:24px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u117 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:686px;
  top:645px;
  width:24px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u119 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:686px;
  top:225px;
  width:24px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u121 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:686px;
  top:269px;
  width:24px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:10px;
  color:#FFFFFF;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u123 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:329px;
  top:157px;
  width:92px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#868686;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u125 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:26px;
  top:157px;
  width:92px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  color:#FF9900;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u127 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:127px;
  top:157px;
  width:92px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#868686;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u129 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:228px;
  top:157px;
  width:92px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#868686;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u131 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:430px;
  top:157px;
  width:92px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#868686;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u133 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:531px;
  top:157px;
  width:92px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#868686;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u135 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:632px;
  top:157px;
  width:92px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
  color:#868686;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u137 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:43px;
  top:100px;
  width:607px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u139 {
  position:absolute;
  left:252px;
  top:213px;
  width:414px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
