@charset "utf-8";
/*--个人中心 20160505--*/
.new-tip{ display:inline-block; width:4px; height:4px; vertical-align:top; background:url(../images/icon-main-bg.png) 0 -153px no-repeat; }
.main i.icon-bg{ display:inline-block; vertical-align:middle; /*float:left; margin-top:4px;*/ margin-right:5px; background-image:url(../images/icon-main-bg.png); background-repeat:no-repeat; }
.icon-btn{ display:inline-block; vertical-align:middle; /*float:left;*/ margin-right:5px; background-image:url(../images/icon-btn.png); background-repeat:no-repeat; }
.new-tip,
.main i.icon-bg,
.icon-btn{ *display:inline;}


.user .photo a,
.user-photo .photo-left .his-photo li,
.side-b .scholars .photo{ background-image:url(../images/icon-photo.png); background-repeat:no-repeat;}

.searchmain .search-form,
.sidebar,
.side-b h2.title,
.mycustom .addcustom,
.push-achievement .submenu .title,
.citation-tracking .set .title{ background-image:url(../images/box-bg.png); background-repeat:no-repeat; }

/*.bottom-b{ border-bottom:1px dashed #e6e6e6; }*/


/****************************list start********************************/
.sign{ margin-right:10px; color: #777; font-family: 'microsoft yahei'; }
/*优先出版、专利斜体标志、视频标志、期刊、学位授予单位*/
.cMarkTip { /*display:inline-block; vertical-align:middle;*/ margin-left:5px; font-size:12px; color: #f48862; font-style: italic; font-weight: normal; /*white-space:nowrap;*/}
.videoTip{ display:inline-block; width:14px; height:18px; margin-left:5px; vertical-align: middle; background:url(../images/icon-main-bg.png) 0 -135px no-repeat;}
.qkTip,
.xwTip{display:inline-block; font-size:12px; font-weight:normal; padding:0 5px; height:16px; line-height:16px;  border-radius:3px; margin-left:10px; text-align:center;}
.qkTip{ color: #f69; border: 1px solid #f69;}
.xwTip{ color: #53a2e3; border: 1px solid #53a2e3;}

.list dd{ padding:15px 10px 15px 20px; border-bottom:1px dashed #ebebeb; }
.list h5{ padding-left: 10px; min-height:28px; line-height:28px;  clear:both; }
.list h5 a{ color:#53a2e3; font-size:14px; font-weight:bold; font-family:"宋体"; }
.list h5 a:hover{ color:#53a2e4; }
.list h5 input[type="checkbox"]{ margin-left:-20px; margin-right: 5px; *margin-right: 0; }
.list p{ padding-left:10px; clear:both; font-family: Arial,'Times New Roman',"宋体"; *z-index:2; }
.list p span{ color:#666; }
.list p em{ color:#999; }
.list p span a{ color:#53a2e3; font-weight:bold; }
.list p.info{ margin:5px 0; line-height:22px; white-space:nowrap; }
.list p.info span{ display:inline-block; max-width:160px; vertical-align:middle; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.list p.info span{ *display:inline; }
.list p.info span + span{ padding-left: 22px; background: url("../images/info-bg.jpg") no-repeat 7px center; }
.func-group{ position:relative; z-index:2; min-height:22px; padding-top:5px; clear:both;}
.func-group .funcs{ float:left; min-height:20px; }
.func-group .funcs span{ margin-right:12px; }
.func-group .func-btn{ float:right; }
.list dd:hover{ background-color:#f7f7f7; }
.list dd:hover .funcs-btn{ display:block; }
.list dd:hover .func-group { z-index:9;}
/******************************list end********************************/


/*******************引用、下载、预览、收藏、分享 start***********************/
.funcs-btn { position:absolute; right:-10px; display:none; }
.funcs-btn li { float:left; display:block; margin-left:5px; margin-right:10px; cursor:pointer; }
.funcs-btn>li { position:relative; }
.funcs-btn li a i{ font-size:16px; color:#999; cursor:pointer; }
.funcs-btn li a:hover i{ color:#53a2e4; }
.funcs-btn li.preview i{ font-size: 12px; }
.funcs-btn li .on i,
.funcs-btn li .on:hover i{ color:#f00; }
.funcs-btn li .dropmenu{ position:absolute;  left:-15px;  z-index:1; display:none; padding:2px 0; height:auto; background-color:#fff; border:1px solid #b9baba; *top:95%;
          box-shadow: 2px 2px 5px #CCCBCB;
       -o-box-shadow: 2px 2px 5px #CCCBCB;
      -ms-box-shadow: 2px 2px 5px #CCCBCB;
     -moz-box-shadow: 2px 2px 5px #CCCBCB;
  -webkit-box-shadow: 2px 2px 5px #CCCBCB;
}

.funcs-btn li:hover .dropmenu { display:block; }
.dropmenu li{ line-height:24px; height:24px; padding-left:5px; text-align:left; float:none; background-image:none; }
.dropmenu li a{ display:block; color:#666; white-space:nowrap; }
.dropmenu li a:hover{ color:#53a2e4; }
.dropmenu li b { display: inline-block; width: 20px; height: 16px; vertical-align: middle; }
.dropmenu li b { *display: inline; }
.dropmenu b{  background-image:url(../images/share-list.png) ; background-repeat:no-repeat; }
.dropmenu b.icon-xl { background-position: 0 0; }
.dropmenu b.icon-tx { background-position: 0 -16px; }
.dropmenu b.icon-douban { background-position: 0 -32px; }


/*下载、无下载权限、请先登录*/
.funcs-btn .icon-down .icon{ color:#53a2e3; }
.funcs-btn .icon-nodownperm .icon{ color:#999; }
.funcs-btn .icon-notlogged .icon{ color:#f90; }
/*********************引用、下载、预览、收藏、分享 end***********************/

/*子菜单*/
.menu { min-height:26px; padding-top:20px; padding-left:10px; margin-bottom:10px; clear:both; }
.menu ul li { float:left; margin-right:20px; white-space: nowrap;  }
.menu ul li a { display:block; height:24px; padding:0 30px; font-size:12px; line-height:24px; border:1px solid #c9c9c9; border-radius:20px; background-color:#fff;  }
.menu ul li.cur a{ color:#fff; background-color:#91b6fd;  }

/*标题*/
h1.location{ display:block; margin-bottom:10px; height:40px; font-size:14px; line-height:40px; border-bottom:2px solid #a0dff3;}
h1.location i.icon{ float:left; width:30px; height:40px; margin-right: 5px; font-size:24px; color: #8cd8f0; text-align:center; line-height:44px; overflow:hidden; }
h1.location span{ margin:0 10px; }

.f-left{ float:left; width:725px; }
.side-b{ float:right; width:240px; padding-top: 15px; }


/*基本资料===================================================start*/
.user-info { float:left; width:380px; margin-left:40px; margin-right:20px; }
.user-info ul { position:relative; padding:25px 0; }
.user-info ul .edit,
.user-info ul .save{ position:absolute; top:25px; right:10px; z-index:2; display:block;  font-size:20px; color:#53a2e3; cursor:pointer; *right:5px; }
.user-info ul .save{ display:none;}
.user-info li { position:relative; z-index:1; min-height:30px; padding-left:120px; line-height:20px; font-weight:bold;  }
.user-info li span { position:absolute; left:0; top:0; width:100px; color:#666; font-weight:normal; text-align:right; }
.user-info .info-basic{ border-bottom:1px solid #e6e6e6; }
.user-info .info-basic li{ height:30px; }
.user-info .info-education li label{ display:inline-block;}
.user-info .info-education li select{ display:none; }
.user-info .info-education li select.zc{ width:220px; *width:228px;}
.user-info .info-education li select.zj{ width:150px; }
.user-info .info-education li select.zt{ width:150px; }
.user-info .info-education dl{ position:relative; }
.user-info .info-education dl .icon-btn{ position:absolute; display:none; right:10px; z-index:2; width:18px; height:18px; cursor:pointer; *right:0;}
.user-info .info-education .add-group{ bottom:6px; background-position:0 -33px; *right:0; *bottom:12px;}
.user-info .info-education .del-group{ bottom:36px; background-position:-18px -33px; *right:0; *bottom:42px; }
.user-info .info-education dd{ position:relative; padding-left:20px; line-height:30px; }
.user-info .info-education dd em{ position:absolute; left:0; }

.user-info .onediting .edit,
.user-info .onediting li label{ display:none; }
.user-info .onediting .save,
.user-info .onediting li select,
.user-info .onediting dl .icon-btn{ display:inline;}

.user-photo { float:right; width:530px; height:270px; border:2px solid #e6e6e6; }
.user-photo p{ line-height:30px; }
.user-photo h6 { font-size:12px; line-height:56px; font-weight:bold; }
.user-photo .photo-left { float:left; width:205px; padding-left:25px; margin-right:30px;  }
.user-photo .photo-left .pic{ border-right:1px solid #e6e6e6;  }
.user-photo .photo-left .view { position:relative; width:150px; height:150px; margin:20px 40px 20px 15px; border-radius:50%; overflow:hidden; border-right:1px solid #e6e6e6; }

.user-photo .photo-left img { width:150px; height:150px;  }
.user-photo .upload { float:left; width:260px; }
.user-photo .upload .loader{ position:relative; width: 79px; height: 36px; margin-top:20px; border:1px solid #f2f2f2; }
.user-photo .upload .loader input[type=button] { width: 75px; height: 32px; margin:2px; border:none; background-color:#eee; cursor:pointer; }
.user-photo .upload .loader:hover input[type=button]{  background-color:#D4EBFF; }
.user-photo .upload .loader input[type=file]{ position: absolute; top: 3px; left: 3px; width: 75px; height: 32px; padding: 0; margin: 0; border: 0; cursor: pointer; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0;}
.user-photo .upload label{ color:#999; line-height:50px; }
.user-photo .upload .submit{ padding:10px 20px; color:#fff; font-size:14px; border:none; background-color:#53a2e4; }
/*基本资料=================================================== end*/


/*我的成果 =================================================== start*/
.myachievement { padding:20px 0 40px 35px; }
.myachievement .myname { color:#53a2e3; font: 16px "Microsoft Yahei"; line-height:34px; }
.myachievement .myinfo { font-size:12px; color:#555;}
.myachievement .myinfo span { margin-right:40px;}
.myachievement .count { margin-top:15px; }
.myachievement .count li { display:inline-block; padding:0 18px; color:#666; text-align:center; line-height:20px; border-left:1px solid #d9d9d9; }
.myachievement .count li { *display:inline; }
.myachievement .count li em { display:block; color:#888; font-size:16px; font-weight:bold; }
.myachievement .count li em.blue{ color:#53a2e3; }

.achieve-menu { height:30px; padding-left:33px; border-bottom:1px solid #53a2e3;  }
.achieve-menu li{ float:left;  }
.achieve-menu li a{ display:block; line-height:30px; font-size:14px; text-align:center; padding:0 20px; }
.achieve-menu li a em{ display:inline-block; padding:1px 2px; margin-top:2px; margin-left:3px; line-height:12px; color:#fff; vertical-align: top; font-size:10px; background-color:#f00;}
.achieve-menu li.active a{ font-weight:bold; border-color:#57a1de #57a1de #fff; border-width:2px 1px 1px; border-style:solid; background-color:#fff; margin-top:-2px;  }
.achieve-menu li.active a em{ font-weight:normal; }
.achievement-group .toolbar .btn-list { margin-left:15px;  }
.achievement-group .list h5{ padding-left:15px; }
.achievement-group .list h5 input[type="checkbox"]{ left:15px; }
.achievement-group .list p{ padding-left:15px; }
.achievement-info .list p.info span{ max-width:165px; }


/*侧边栏*/
.side-b h2.title{ width:100%; height:30px; margin-bottom: 20px; font-size:14px; color:#fff; line-height:30px; font-weight:normal; background-position:0 -30px; }
.side-b h2.title span{ float:left; width:120px; margin-left:15px;  }
.side-b h2.title a{ display:block; float:right; width:20px; font-size:14px; color:#fff; margin-right:15px;}
.side-b dl{ clear:both; }
.side-b dt { height:25px; padding:0 10px; margin-bottom:5px; line-height:25px; font-size:12px; border:1px solid #a0dff3; border-radius:4px; }
.side-b dt span { font-family:"microsoft yahei"; font-weight:bold; color:#666; }
.side-b dt a{ float:right; width:80px; text-align:right; line-height: 25px; color:#53a2e3; cursor:pointer; *margin-top:-25px; }
.side-b dd { position:relative; width:217px; padding-left:10px; min-height:26px; line-height:26px; clear:both;  }
.side-b dd a { display: inline-block; max-width:170px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.side-b dd em { position:absolute; top:0; right:0;}

/*scroll*/
.sidetags-list{ padding-bottom:10px; }
.sidetags-list dd{ height:26px; }/*兼容 firefox*/
.sidetags-list dd a.cur { color:#53a2e3; }
.scroll-list{ position: relative; display:inline-block; width:230px; max-height:104px; overflow: hidden; }
.scroll-bar{ position: relative; float:right; display:none; width: 1px; height: 104px; margin-right: 7px; border-left: 1px solid #53a2e3; *margin-top:-104px; }
.scroll-bar .handle{ position: absolute; left: -5px; top: 0; width: 9px; height: 16px;overflow: hidden; background: url(../images/icon-btn.png) 1px -101px no-repeat;cursor: pointer; }
.isScroll .scroll-list{ height:104px; overflow:hidden; }
.isScroll .scroll-list .tags{ position: absolute; }
.isScroll .scroll-bar{ display:block; }


/*查看引文跟踪情况*/
h3.title{ display:block; margin-bottom:10px; height:30px; line-height:30px; border-bottom:1px solid #e6e6e6;}
h3.title span{ padding:6px 15px 6px 5px; color:#53a2e3; font-size:14px; border-bottom:1px solid #54c4d0; *padding-bottom:5px; }
h3.title i.icon{ font-size:16px; }
/*发文数量年度分布图*/
.year-distribution-map{ margin:20px; }

/*成果产出统计*/
.achieved-count{/* margin:0 20px;*/ }
.achieved-count .count-tab{ table-layout:auto; width:280px; float:left; line-height:38px; color:#666; text-align:center; border:solid #b0b7c8; border-width:2px 1px 1px 2px; }
.achieved-count .count-tab th,
.achieved-count .count-tab td { min-height:24px; padding:0 3px; border-bottom:1px solid #b0b7c8; border-right:1px solid #b0b7c8; }
.achieved-count .achieved-count-map { float:right; border:2px solid #b0b7c8; }
.achieved-count .tip{ font-size:12px; clear:both; color:#666; line-height:56px; }

/*被引频次年度分布图*/
.quote-distribution-map{/* margin:20px;*/ }

/*合作学者*/
.achievement-info .scholars{ margin-bottom:20px; }
.achievement-info .scholars h3.title{ margin-top:-15px; }
.achievement-info .scholars .more{ float:right; width:50px; font-size:12px; font-weight:normal; color:#53a2e3; *margin-top:-30px;}
.achievement-info .scholars ul { padding:0 6px;}
.achievement-info .scholars li{ width:100%; display:block; margin-top:15px;  clear:both; }
.achievement-info .scholars .photo { display:block; float:left; width:37px; height:37px; margin-right:12px; background-position:0 0; }
.achievement-info .scholars .photo img{ width:100%; }
.achievement-info .scholars p{ float:left; margin-bottom:15px; line-height:20px; }
.achievement-info .scholars p span{ display:block; }


/*合作机构*/
.achievement-info .agency ul{ padding:0 6px;}
.achievement-info .agency li{ line-height:34px;}
.achievement-info .agency li a{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
/*我的成果 =================================================== end*/


/*成果推送 =================================================== start*/
.push-achievement .submenu {  height:28px; padding-top:15px; margin-left:15px; /*margin-bottom:15px;*/ border-bottom:2px solid #dbdbdb; }
.push-achievement .submenu .title{ float:left; width:108px; text-align:center;color:#fff; line-height:30px; font-size:14px; /*background:url(../images/submenu-bg.jpg) no-repeat;*/ background-position:0 0; }
.push-achievement .submenu li{ float:left; width:180px; text-align:center; line-height:28px; }
.push-achievement .submenu li em{ color:#53a2e3; }
.push-achievement .submenu li.active{ font-weight:bold; border-bottom:2px solid #53a2e3; }
.push-achievement .database-type{ display:none; margin-left:5px; }
.push-achievement .icon-yes{ width:16px; height:13px; background-position:0 0; }
.push-achievement .icon-no{ width:16px; height:13px; background-position:-17px 0; }
.push-achievement .funcs-btn{ display:block;}



/*推送条件*/
.push-term{ margin-bottom:20px;  }
.push-term .title a{ float:right; margin-right:15px; *margin-top:-30px; }
.push-term .title .save{ display:none; }
.push-term dl{ padding-bottom:20px; }
.push-term input{ display:inline-block; vertical-align:middle; height:20px; padding:0 2px; margin:4px 0; line-height:20px; color:#555; border:1px solid #fff; background-color:#fff; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.push-term .simulate{ display:inline-block; max-width:67px; }
.push-term .simulate input,
.push-term .simulate select{ margin:0; padding:0; background-color:#fff; }
.push-term .simulate input { display:inline; width:63px; text-align:center; }
.push-term .simulate select{ display:none;  }

.push-term #name{ width:152px; border:none; }
.push-term #formername{ width:135px; }
.push-term #unit{ width:150px; }
.push-term #unit-formername{ width:114px; }
.push-term #subject-area{ width:150px; }
.push-term #theme{ width:174px; }
.push-term #name-en{ width:150px; }
.push-term #unit-en{ width:150px; }

.push-term .typelist{ white-space:nowrap; margin-right:1px; }
.push-term .typelist a{ display:none; font-size:14px; color:#f30;}
.onediting .typelist b{ display:inline; font-weight:normal; }
.push-term .addtype{ display:none; width:38px; height:18px; text-align:center; line-height:18px; color:#f30; border:1px solid #aaa;  }

.push-term .btn { display:none; text-align:right; min-height:18px; margin-top:20px; clear:both; width:100%; }
.push-term .btn a { display:block; float:left; padding:3px 10px; line-height:18px; color:#666; border:1px solid #ccc; }
.push-term .btn a:hover { color:#fff;  border-color:#f60; background-color:#f60;}
.push-term .btn .clear { margin-left:10px; margin-right:60px; }
.push-term .btn .save { margin-right:17px; background-color:#4b9ced; color:#fff;  }

.onediting .save i{ font-weight:bold; }
.onediting .title .edit{ display:none;}
.onediting .title .save{ display:inline;}
.onediting .term{ border-color:#aaa; }

.onediting .typelist a{ display:inline; }
.onediting .typelist b{ display:none; }
.onediting .addtype{ display:inline-block; vertical-align: middle; } 
.onediting .btn{ display:block; }
.onediting .simulate label{ display:none;}
.onediting .simulate select{ display:block;}
.push-term input,
.push-term .simulate,
.onediting .addtype{ *display:inline;}
/*成果推送 =================================================== end*/



/*引文跟踪=================================================== start*/
.citation-tracking { /*padding-right:10px;*/ margin-top:20px; }
.citation-tracking .set { width:100%; height:80px; line-height: 30px; font-size: 14px; }
.citation-tracking .set .title { /*display:inline-block;*/ float:left; width: 130px; margin-left:15px; margin-right:10px; text-align: center; color: #fff; background-position: 0 0;}
.citation-tracking .title a{ margin-left:10px; color:#fff; line-height:25px; }
.citation-tracking .title a:hover{ color:#f60;}
.citation-tracking .title .save{ display:none; }
.citation-tracking .set ul{ /*display:inline-block;*/ float:left; /*vertical-align:bottom;*/ }
.citation-tracking .set li { float:left; margin-left:20px; font-size:12px; white-space:nowrap; color:#555; }
.citation-tracking .set li span{ color:#999; }
.citation-tracking .set label { display:inline-block; line-height:28px; }
.citation-tracking .set select { display:none; margin-bottom:5px; border:1px solid #ccc; *margin-bottom:0; *margin-left:-6px;}
.citation-tracking .set input { font-size: 14px; border:1px solid #fff; }
.citation-tracking .set .mode { width:135px; }
.citation-tracking .set .format { width:195px;  }
.citation-tracking .set .useremail { width:144px; padding:2px 0 2px 5px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;  }
.citation-tracking .set .freq { width:50px;  }
.citation-tracking .set .opts { display:none; width:100%; height:30px; margin-top:10px; text-align:center; clear:both; }
.citation-tracking .set .opts a { padding:3px 10px; margin-right:20px; line-height:18px; color:#666; border:1px solid #ccc; }
.citation-tracking .set .opts a:hover { color:#fff;  border-color:#f60; background-color:#f60;}
.citation-tracking .set .opts .save { background-color:#4b9ced; color:#fff;  }
.citation-tracking .onediting .title .edit{ display:none; }
.citation-tracking .onediting .title .save{ display:inline; }
.citation-tracking .onediting label{ display:none; }
.citation-tracking .onediting select { display:inline-block;}
.citation-tracking .onediting .useremail{ border:1px solid #ccc; }
.citation-tracking .onediting .opts { display:block;}

.citation-tracking .toolbar .iconfont{ font-size:12px; }
.citation-tracking .toolbar dd a{ height:20px; margin-top:3px;
  background:#eee;
  background:-moz-linear-gradient(top, #fff 0%, #ddd 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd));
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ddd',GradientType=0);*/
}

.citation-table{ border-collapse:collapse; border-spacing:0; table-layout:fixed; border:1px solid #ccc;}
.citation-table td { padding:8px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; }
.citation-table thead { font-size:14px; color:#555; text-align:center; background-color:#e5f3f5; }
.citation-table thead select {  font-size:14px; border:1px solid #ccc; }
.citation-table .num { width:10px; *width:20px; }
.citation-table .inform { width:683px; *width:673px; }
.citation-table .inform  h5{ min-height:28px; line-height:28px;  clear:both; }
.citation-table .inform  h5 a{ font-size: 14px; color:#53a2e3; font-weight:bold; font-family:"宋体"; }
.citation-table .inform  h5 a:hover{ color:#53a2e4; }
.citation-table p.info{ margin:5px 0; line-height:22px; white-space:nowrap; }
.citation-table p.info span{ display:inline-block; max-width:180px; vertical-align:middle; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.citation-table p.info span{ *display:inline; *vertical-align:auto; }
.citation-table p.info span + span{ padding-left: 15px; background: url("../images/info-bg.jpg") no-repeat 6px center; }

.citation-table .quote-count { width:60px; text-align:center;  }
.citation-table .quote-count a { font-size:14px; color:#53a2e3; font-weight:bold; }
.citation-table .state { width:80px; text-align:center; }
.citation-table .operate { width:80px; text-align:center; }
.citation-table .state p,
.citation-table .operate p { margin-bottom:5px; line-height:20px; color:#555;  }
.citation-table .state span ,
.citation-table .operate span{ display:block; color:#aaa;  white-space:nowrap; }
.citation-table .state .icon-btn{ width:33px; height:20px; color:#fff; line-height:19px; }
.citation-table .operate a{ padding:2px 6px; border:1px solid #ccc; border-radius:4px; font-size:12px; color:#53a2e3; *padding:2px; }
.citation-table .operate a:hover{ color:#f60; }
/*引文跟踪=================================================== end*/


/*定制检索式================================================= start*/
.mycustom .menu{ width:705px; margin-bottom:0;}
.mycustom .menu li a{ padding:0 15px; margin-bottom:10px; }
.mycustom .menu li .new-tip{ margin-left: 2px; }

.mycustom .menu li a.edit{ margin-right:0; border:none; font-size:14px; }
.mycustom .menu li a.edit .icon{ color:#abb9b9; font-size:16px; font-weight:bold; margin-right:5px; }
.mycustom .menu li a:hover .icon{ color:#53a2e3;}
.toolbar .more{ float:left; width:200px; margin-left:10px; color:#999; }
.toolbar .more a{ color:#53a2e3; }


/*添加检索式 弹出框 start*/
.custom-popup { position: absolute; z-index: 1002; top: 0;  display: none; width: 420px; padding: 20px 10px; background-color: #fff; border:3px solid #dcdcdc;}
.custom-popup input{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.custom-popup dt {width: 100%; height: 30px;}
.custom-popup dt p{ width:300px; font-size:16px; float:left; padding-left:10px; font-weight:bold; }
.custom-popup dt .close{ float: right; width:20px; font-size:16px; }
.custom-popup dt .close:hover{ color:#f60;}
.custom-popup dd{ position:relative; margin:0 10px; padding:5px 0 5px 100px; font-size:12px; line-height: 24px;  clear:both; }
.custom-popup dd span{ position:absolute; left:0; width:80px; text-align:right; color:#888; line-height:24px; }
.custom-popup dd input[type="text"]{ display:inline-block; padding:2px 10px; border:1px solid #ccc; border-top:1px solid #888; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; *padding:3px 10px;}
.custom-popup dd input[type="text"]{ *display:inline; }
.search-condition li{ position:relative; margin-bottom: 10px; }
.search-condition li.new-item{ margin-left: -54px; }
.search-condition li .icon-btn{ position:absolute; right:0px; bottom:4px; width:18px; height:18px; margin-right:0; cursor:pointer; }
.search-condition li .add-group{ background-position:0 -33px;  }
.search-condition li .del-group{ background-position:-18px -33px; }

.custom-popup dd label{ margin-left:3px; margin-right:15px; cursor:pointer;  white-space:nowrap; }
.custom-popup dd label input{ margin-right:2px; }
.custom-popup dd .newtitle,
.custom-popup dd .useremail{ width:255px;}
.custom-popup dd .data{ width:165px; }
.custom-popup .bind-email{ padding-top:20px; margin-top:10px; color:#888;  border-top:1px solid #eee; }
.custom-popup .bind-email .useremail{ color:#999; border:1px solid #fff;}
.custom-popup .onediting{ padding-top:20px; margin-top:10px; color:#888;  border-top:1px solid #eee; }
.custom-popup .email-push .icon-btn{ width:33px; height:19px; margin-top: 3px; color:#fff; line-height:19px;}
.custom-popup .add{ display:block; width:50px; height:28px; margin:20px auto 0; line-height:28px; text-align:center; color:#fff; background-color:#3288ff; border:none; }
/*添加检索式 弹出框 end*/

.mycustom .addcustom{ width:240px; height:92px; padding-bottom:40px; background-position:-180px -152px; }
.mycustom .addcustom p{ line-height:50px; text-align:center; font-size:14px; color:#fff;}
.mycustom .addcustom .addcustom-btn{ display:block; margin:0 auto; width:110px; height:30px; font-size:14px; color:#fff; text-align:center; line-height:30px; border:1px solid #fff; border-radius:8px; background-color:#64b6dc;}

.mycustom .result{ clear:both; }
.mycustom .list dd{ padding-left:0px; }
.mycustom .list dt{ height:30px; line-height:30px;  background-color:#f4f4f4; }
.mycustom .list dt .date{ margin-left:10px; font-size:14px; font-weight:bold;  }
.mycustom .list p.info span{ max-width:160px; }
.mycustom .list p.brief{ margin-bottom:5px; line-height:22px; color:#444; }

.tab-list{ display:none; padding-top:20px; overflow:hidden; clear:both; }
.tab-list .set{ width:1100px; height:30px ; margin-left:20px; margin-bottom:10px; font-size:14px;  }
.tab-list .set li{ float:left; margin-right:130px; white-space:nowrap;  color:#555;  *margin-right:110px;}
.tab-list .useremail{ display:inline-block; width:190px; padding: 3px 5px; color:#999;  border:1px solid #fff; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.tab-list .useremail{ *display:inline; }
.tab-list .set label{ cursor:pointer; margin-right:10px; margin-left:3px;  }

.mycustom .onediting .useremail{ border:1px solid #999; }
.mycustom .onediting .edit{ visibility:hidden; }

.tab-list .btn{ text-align:center; height:24px; margin-top:20px; margin-bottom:20px; }
.tab-list .btn a{ display:inline; padding:5px 20px; color:#fff; text-align:center; margin-right:30px; }
.tab-list .btn .save{ background-color:#53a2e3; }
.tab-list .btn .cancel{ background-color:#ccc; }

.tab-list table{ width:100%; border:1px solid #f3f3f3; }
.tab-list th{ line-height:30px; color:#777; border-right:1px solid #f3f3f3; }
.tab-list td{ padding:10px 5px; border-right:1px solid #f3f3f3; color:#333; }
.tab-list td span{ display:block; line-height:24px;}
.tab-list .temp{ text-align:center; }
.tab-list .name{ width:180px; }
.tab-list td.name{ color:#53a2e3; font-weight:bold; }
.tab-list .type{ width:540px;} 
.tab-list .type a{ display:block; padding-right:40px; background:url(../images/custom-search-bg.png) 500px center no-repeat; cursor:pointer;}
.tab-list .type span{ display:inline;}
.tab-list .type .symbol{ margin:0 10px; color:#f30; }
.tab-list .res{ width:60px; text-align:center; }
.tab-list td.res{ color:#53a2e3; font-weight:bold; }
.tab-list .date{ width:90px; text-align:center;}
.tab-list .email-push{ width:70px;}
.tab-list .email-push .icon-btn{ width:33px; height:20px; color:#fff; line-height:19px; }
.tab-list .del{ width:50px; text-align:center;}
.tab-list .del a{ display:block; line-height:30px; margin:0 auto; color:#53a2e3; }
.tab-list .del a:hover{ color:#f60; }
/*定制检索式================================================= end*/


/*我的收藏=================================================== start*/

/*弹出窗口1 公共样式start*/
.mypaper .tagpopup{ position:absolute; z-index:1001; top:100%; left:0; width:650px; padding:20px; background-color:#fff; border:1px solid #ccc;
          box-shadow:2px 2px 10px #ccc;
       -o-box-shadow:2px 2px 10px #ccc;
      -ms-box-shadow:2px 2px 10px #ccc;
     -moz-box-shadow:2px 2px 10px #ccc;
  -webkit-box-shadow:2px 2px 10px #ccc;
 }
.mypaper .tagpopup h6{ font-size:12px; line-height:20px; margin-bottom:10px; }
.mypaper .tagpopup h6 i{ color:#53a2e3; margin-right:5px; }
.mypaper .tagpopup .taglist{ position:relative; clear:both; }
.mypaper .tagpopup .taglist li{ float:left; padding:2px 10px; margin-right:10px; margin-bottom:10px; text-align:center; color:#53a2e3; border:1px solid #7fddff; cursor:pointer; white-space:nowrap; }
.mypaper .tagpopup input[type="submit"]{ height:24px; margin-left: 10px; padding:0 10px; line-height:24px; color:#fff; background-color:#f96; border:none; *padding:0;}
/*弹出窗口1 公共样式 end*/

/*弹出窗口2 公共样式start*/
.creat-pop{ position:absolute; z-index:1001; display:none; width:400px; padding:20px 30px 40px; background-color:#fff; border:1px solid #ccc;
          box-shadow:2px 2px 10px #ccc;
       -o-box-shadow:2px 2px 10px #ccc;
      -ms-box-shadow:2px 2px 10px #ccc;
     -moz-box-shadow:2px 2px 10px #ccc;
  -webkit-box-shadow:2px 2px 10px #ccc;
 }
.creat-pop a.close{ float:right; margin-top:-10px; margin-right:-10px; font-size:16px; color:#53a2e3; }
.creat-pop a.close:hover{ color:#f90; }
.creat-pop h6{ font-size:12px; line-height:20px; margin-bottom:10px; }
.creat-pop h6 i{ color:#53a2e3; margin-right:5px; }
.creat-pop input[type="text"]{ display:block; width:380px; padding:4px 5px; margin-right: 20px; border:1px solid #999; }
.creat-pop input[type="submit"]{ height:24px; margin-top:10px; margin-right:10px; padding:0 20px; line-height:24px; color:#fff; background-color:#f96; border:none; *padding:0 10px; }
.creat-pop label{ display:inline-block; height:24px; line-height:24px; color:#f60; white-space:nowrap; *vertical-align:text-bottom; }
/*弹出窗口2 公共样式 end*/


/*论文*/
.mypaper .list p.info{ margin:0; }
.mypaper .list p.info span{ max-width:160px; }

.mypaper .list .tagitem{ position:relative; display:block; float:left; height:22px;line-height:22px; padding:0 10px; margin-right:10px; margin-bottom:10px; text-align:center; border:1px solid #7fddff; background-color:#fff; white-space:nowrap; }
.mypaper .list .tagitem b{ display:block; color:#53a2e3; font-weight:normal; }
.mypaper .list .tagitem .icon-del{ position:absolute; top:-6px; right:-6px; display:none; width:12px; height:12px; background-position: 0 -55px; cursor:pointer; }
.mypaper .list .tagitem:hover .icon-del{ display:inline-block;  }
.mypaper .list dd .addtag-group{ position:relative; z-index:3; float:left; width:685px; padding-top: 5px; margin-left: 10px; overflow:visible; }
.mypaper .list dd:hover .addtag-group{ z-index:4;}
.mypaper .list .addtag-btn{ display:block; float:left; height:22px; line-height:22px; padding:0 10px; margin-bottom:10px; font-size:16px; text-align:center; color:#53a2e3; border:1px solid #7fddff; background-color:#fff;    }

/*侧边栏 标签*/
.mypaper .mytags{position:relative;}
.mypaper .mytags input{ max-width:125px; margin-top:2px; padding:2px 0; border:1px solid #fff; background-color:#fff; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; cursor:pointer; }
.mypaper .mytags input:hover{ color:#53a2e3; }
.mypaper .mytags dd ul{ position:absolute; right:45px; top:0; display:none; }
.mypaper .mytags dd:hover ul{ display:block;}
.mypaper .mytags li{ float:left; cursor:pointer; margin-left:10px; color:#f00; }
.mypaper .mytags li i{ color:#53a2e3; }

/*出版来源*/
.list-tup{ width:995px; padding-top:20px; }
.list-tup li{ position:relative; float:left; display: inline-block; width:400px; height:170px; padding:20px 20px 20px 30px; margin:0 35px 20px 10px; border:1px dashed #e6e6e6; }
.list-tup li .checkbox{ position:absolute; left:10px; top:10px; z-index:1; width:13px; height:13px; }
.list-tup li:hover{ border-color:#91b6fd;}
.list-tup li:hover .checkbox,
.list-tup li:hover .del{ display:block; }
.list-tup li a{ display:block; }
.list-tup li .del{ position:absolute; right:8px; top:10px; z-index:2; display:none; width:14px; height:18px;  font-size:14px; color:#f00; cursor:pointer; }
.list-tup .img-thumb { float:left; }
.list-tup .img-thumb span{ display:table-cell; width:110px; height:150px; text-align: center; vertical-align:middle; border: 1px solid #e0e0e0; cursor:pointer; *display:block; *font-size:130px; }
.list-tup .img-thumb img{ margin:0px auto; max-width:110px; max-height:150px; vertical-align:middle; *display:inline; *line-height:130px;}

.list-tup .detials{ width:255px; float:right; }
.list-tup .detials h1{ color:#53a2e3; font-size:14px; /*width:170px;*/ line-height:22px; margin-bottom:8px; }
.list-tup .info span{ display:block; color:#333; font-size:12px; line-height:24px; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.list-tup .info em{ color:#999; }

.list-tup .qktags span,
.list-tup .xwtags span{display:inline-block; padding:0 3px; margin:0 4px 5px 5px; text-align:center; line-height:17px; border:1px solid;  border-radius:3px;}
.list-tup .qktags span{  color:#fd0252; border-color:#fd0252; }
.list-tup .xwtags span{  color:#53a2e3; border-color:#53a2e3; }
/*我的收藏=================================================== end*/



/*历史记录======================================================start*/
.myhistory .list p.info{ margin:0; }
.myhistory .list p.info span{ max-width:160px; }

/*检索历史*/
.waveform{ position:relative; margin:0 10px 20px 0; padding-bottom:10px; border-bottom:1px solid #e3e3e3; }
.waveform .btn{ position:absolute; top:10px; right:0; width:122px; height:24px; border:1px solid #e3e3e3; border-right:none; }
.waveform .btn a{ display:block; float:left; width:60px; height:24px; line-height:24px; text-align:center; border-right:1px solid #e3e3e3; background-color:#f7f7f7;  }
.waveform .btn a.cur{ color:#fff; background-color:#5fa5e0; }
.waveform .countdata{ height:35px; padding-top:40px; margin-left:40px; margin-bottom:20px; }
.waveform .countdata li{ float:left; height:35px; margin-right:50px; line-height:35px; }
.waveform .countdata li em{ font-size:18px; color:#53a2e3; margin:0 8px; }
.waveform .chart{ margin-left:30px; }

.search-historylist{ padding-top:20px;  }
.search-historylist dl{ margin-left:15px; padding-bottom:25px; margin-bottom:15px; border-left:2px solid #c8c8c8; *margin-left:18px;   }
.search-historylist dt{ position:relative; top:-10px; left:-6px; padding-left:34px; height:14px; margin-bottom:9px; font-size:14px; font-weight:bold; background:url(../images/icon-main-bg.png) 0 -106px no-repeat;  }
.search-historylist dd{ position:relative; min-height:32px; padding-left:30px; clear:both; }
.search-historylist input{ float:left; display:block; margin-right:12px;  }
.search-historylist .time{ float:left; display:block; margin-right:30px; color:#a4aeb0; }
.search-historylist .classify{ float:left; display:block; width:55px; margin-right:44px;  }
.search-historylist .type-select{ float:left; display:block; width:70px; }
.search-historylist .type-select b{ display:inline-block; width:52px; padding-right:5px; font-weight:normal; text-align:right; }
.search-historylist .input-words { float:left; display:block; width:390px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#53a2e3;   }

.search-historylist dd .funcs-btn{ right:15px; bottom:15px; display:none;  }
.search-historylist dd:hover .funcs-btn{ display:block;  }
.search-historylist dl:hover { border-left:2px solid #53a2e3;   }
.search-historylist dl:hover dt{ background-position:0 -120px; }
.search-historylist dd:hover .input-words{ width:330px; }

.myhistory .side-b h2.set-title{ width: 100%; height:35px; line-height:34px; font-size: 14px; color:#53a2e3; font-weight:bold; border-bottom:1px solid #e3e3e3; }
.myhistory .side-b h2.set-title i{ margin-right:10px; font-size:18px; }
.myhistory .side-b h2.set-title span{ border-bottom:1px solid #53a2e3; padding:0 10px 7px;  }
.myhistory .side-b .setup-list li{ position:relative; margin:10px 0; line-height:28px; }
.myhistory .side-b .setup-list li span{ padding: 0 10px 5px 5px; border-bottom:1px solid #53a2e3; color:#53a2e3; }
.myhistory .side-b .setup-list li b{ display:block; padding-left:5px; font-weight:normal;}
.myhistory .side-b .setup-list li a{ position:absolute; right:0; top:8px; width:33px; height:19px; color:#fff; line-height:19px; }
.switch-on{ padding-right:24px; text-align:right; background-position:-15px -55px; }
.switch-off{ padding-left:24px; text-align:left; background-position:-15px -85px; }
.myhistory .side-b .setup-list li select{ position:absolute; right:0; top:8px; *top:0;}

/*下载历史*/
.myhistory .list h5{ position:relative; }
.myhistory .list b.icon-state{ position:absolute; top:-15px; right:-10px; display: block; width:46px; height:30px; background:url(../images/icon-download.png) no-repeat; }
.myhistory .list b.local{ background-position:0 0; }
.myhistory .list b.cloud{ background-position:0 -30px; }
.myhistory .list b.disable{ background-position:0 -60px;}


/*浏览历史*/
.countdata .icon-data1{ width:22px; height:23px; background-position:0 -15px;}
.countdata .icon-data2{ width:22px; height:23px; background-position:0 -39px;}
.countdata .icon-data3{ width:22px; height:23px; background-position:0 -63px;}

.icon-literature,
.icon-publication { width:13px; height:16px; margin-top:2px; *margin-left:-3px; }
.icon-literature { background-position:0 -90px; }
.icon-publication { background-position:-15px -90px; }

.myhistory .list{ margin-top:15px;}
.myhistory dt.title-time{ height:30px; padding-left:10px; line-height:30px; font-size:14px; color:#333; font-weight:bold; background-color:#eee; }
.myhistory dt.title-time span{ margin-right:10px; }

.myhistory .list p.info .w-260{ max-width:260px; }
.myhistory .list p.info .w-400{ max-width:400px; }
/*历史记录 ======================================================end */


/*我的云盘======================================================start*/
.mycloud .tabfile{ width:725px; margin-top:15px; }
.mycloud .tabfile th{ height:30px; font-weight:normal; line-height:30px; border-left:2px solid #fff; background-color:#ecf6f8;}
.mycloud .tabfile th.name{ border:none; }
.mycloud .tabfile th .icon-btn{ display:none; float:none; width:10px; height:10px; margin-left:5px; vertical-align:middle; }
.mycloud .tabfile th .descend .icon-btn,
.mycloud .tabfile th .ascend .icon-btn{ display:inline-block; transition:background 0.3s ease-out ;}
.mycloud .tabfile th .descend .icon-btn{ background-position: 0 -70px ;}
.mycloud .tabfile th .ascend .icon-btn{ background-position: 0 -82px ;} 
 
.mycloud .tabfile td{ padding:10px 2px; border-bottom:1px dashed #eee; }
.mycloud .tabfile td a{ line-height:24px; text-align:left; }
.mycloud .tabfile .num{ width:30px; text-align:center;  vertical-align:top;}
.mycloud .tabfile .num input[type="checkbox"]{ margin-top:6px; *margin-top:3px; }
.mycloud .tabfile .state{ width:50px; text-align:center;  }
.mycloud .tabfile .date{ width:80px; text-align:center; }
.mycloud .tabfile td.name{ position:relative;}
.mycloud .tabfile td.name a{ display:block; max-width:480px; color:#53a2e3; font-family:"宋体"; font-weight:bold; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.mycloud .tabfile td.name a:hover{ color:#53a2e3; }
.mycloud p.info{ line-height:28px; color:#999; white-space:nowrap; }
.mycloud p.info span{ display:inline-block; max-width:160px; color:#666; vertical-align:middle; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.mycloud p.info span{ *display:inline; }
.mycloud p.info span + span{ padding-left: 12px; background: url("../images/info-bg.jpg") no-repeat 2px center; }
.mycloud p.info em{ color:#999;}

.mycloud .tabfile td.name .funcs-btn{ top:10px; }
.mycloud .tabfile tr:hover .name a{ max-width:370px; }
.mycloud .tabfile tr:hover .funcs-btn{ display:block; }

.state .icon-bg{ width:15px; height:14px; margin-left: 12px;}
.state .icon-effect { background-position:0 0; }
.state .icon-lose { background-position:-17px 0; }

.mycloud .side-b dd .icon{ margin-right:5px; color:#53a2e3; font-size:14px;}
.mycloud .side-b .storage{ width:200px; margin-top:30px; margin-left:15px; }
.mycloud .side-b .storage .bar{ width:100%; height:4px; background-color:#ccc; border-radius:2px;}
.mycloud .side-b .storage .bar span{ display:block; height:4px; background-color:#53a2e3; border-radius:2px; }
.mycloud .side-b .storage{ line-height:27px; }
/*我的云盘=======================================================end*/

/*回收站*/
.location .recycle-bin{ display:block; float:right; height:40px; line-height:46px; overflow:hidden; font-weight:normal; font-size:14px; *margin-top:-40px; }
.location .recycle-bin .icon{ width:30px; color: #47bc87; font-size: 18px; }

.myrecycle .opts-btn{ float:right; width:70px; text-align:center; }
.myrecycle .opts-btn li{ display:inline-block; margin-left:10px; }
.myrecycle .opts-btn li{ *display:inline; }
.myrecycle i.icon-restore{ width:18px; height:17px; background-position: 0 -15px; }
.myrecycle i.icon-remove{ width:18px; height:17px; margin-top:0; background-position: -19px -15px; }

.recycle-tablist{ display:block; width:985px; padding-top:20px; clear:both; }
.recycle-tablist table{ width:100%; border:1px solid #f3f3f3;}
.recycle-tablist th{ line-height:30px; color:#777; border-right:1px solid #f3f3f3; }
.recycle-tablist td{ padding:10px 5px; border-right:1px solid #f3f3f3; color:#333;}
.recycle-tablist td span{ display:block; line-height:24px;}
.recycle-tablist .temp{ width:30px; text-align:center;  }
.recycle-tablist .name{ width:165px; }
.recycle-tablist td.name{ color:#53a2e3; font-weight:bold; }
.recycle-tablist .type{ width:520px;} 
.recycle-tablist .type a{ display:block; background:url(../images/custom-search-bg.png) 470px center no-repeat; cursor:pointer;}
.recycle-tablist .type span{ display:inline;}
.recycle-tablist .type .symbol{ margin:0 10px; color:#f30; }

.recycle-tablist .create-time{ width:90px; text-align:center;}
.recycle-tablist .del-time{ width:90px; text-align:center; } 

.myrecycle .list h5 a{ display:inline-block; vertical-align:middle; max-width:850px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.myrecycle .list h5 a{ *display:inline;}
.myrecycle .list p.info span{ max-width:210px; }

.myrecycle .list-tup .img-thumb { cursor:default; }
.myrecycle .list-tup .detials h1,
.myrecycle .list-tup .detials h2{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.myrecycle .list-tup .opts-btn{ position:absolute; right:20px; bottom:15px; }
.myrecycle .list-tup .opts-btn li{ width:20px; height:20px; padding:0; margin:0 10px 0 5px; border:none; }
/*==main end==================================*/

/*删除提示框 start*/
.pop-mask{ position: absolute; z-index: 1000; top: 0px; left: 0; width:100%; height:100%; min-width:1200px; background-color:#000; opacity:0.3; filter:alpha(opacity=30); overflow:hidden;}
.del-pop{ position:absolute; z-index:1001; display:none; width:200px; padding:20px 30px; background-color:#fff; border:1px solid #ccc;
    box-shadow:2px 2px 10px #ccc;
    -o-box-shadow:2px 2px 10px #ccc;
    -ms-box-shadow:2px 2px 10px #ccc;
    -moz-box-shadow:2px 2px 10px #ccc;
    -webkit-box-shadow:2px 2px 10px #ccc;
}
.del-pop a.close{ float:right; margin-top:-10px; margin-right:-10px; font-size:16px; color:#666; }
.del-pop a.close:hover{ font-weight:bold; color:#f90; }
.del-pop p{ font-size:16px; line-height:50px; text-align: center; font-family: "Microsoft YaHei"; }
.del-pop .del-btns{ text-align: center;}
.del-pop .del-btns a{ display:inline-block; padding:3px 15px; margin:0 10px; color:#fff; }
.del-pop .sure{ background-color:#53a2e3;  }
.del-pop .no{ background-color:#bbb;  }
/*删除提示框 end*/

