@charset "utf-8";
/*公共样式部分 */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,em,font,img,small,strong,b,u,i,s,dl,dt,dd,ol,ul,li,fieldset,form,label,input,table,tr,td { padding: 0px; margin: 0px;}
textarea {resize: none; overflow: auto; line-height: 18px; border: 1px solid #ccc;-webkit-appearance: none;}
html { font-family: sans-serif;-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
ol,ul li {list-style: none outside none;}
img { border: none; /*display: block;*/}
body,button,input,select,textarea {font: 12px/150% Arial, "宋体", serif;color: #666666; outline: 0;}
/*使 option 有间距*/
select {font-family: verdana, sans-serif;}
body { background-color: #fff;}
s,em { font-style: normal;}
s { text-decoration: none;}
i{ font-style:normal; }
h2 {font-size: 14px;color: #8B8989;font-family: Arial,"宋体","Microsoft YaHei", "黑体", "Simsun", serif;}
h4 {font-size: 12px; font-weight: 400; font-style: normal;}
font{ color:#f5655c; }
/* Links
   ========================================================================== */
a/*,a:visited*/{text-decoration: none; color: #666; background-color: transparent; cursor:pointer;}
a:focus {border: none;}
a:hover,a:active {outline: 0; color:#53a2e4;}
header, footer, article, section, nav, menu, hgroup {display: block;}

/* Forms
   ========================================================================== */
button,input,optgroup,select,textarea { margin: 0;}
button { overflow: visible; border: 0 none;}
button,select {text-transform: none; /*vertical-align:middle;*/ }
input[type="checkbox"]{ cursor: pointer; }
input[type="button"],
input[type="reset"],
input[type="submit"] {
-webkit-appearance: button;
cursor: pointer;
}
button[disabled],html input[disabled] {cursor: default;}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {line-height: normal;}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  vertical-align: middle;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


textarea {overflow: auto;resize: none;}
optgroup {font-weight: bold;}
table { /*border-collapse: collapse;*/ border-spacing: 0;  table-layout:fixed;}
td,th {padding: 0;}
.inline-block {display: inline-block; vertical-align: middle; *display: inline; *zoom: 1; *vertical-align: auto; padding: 0;}
/*reset end============*/
/*公共样式*/
input[type="text"]:focus { border-color: none; }
input[type="password"]:focus,
textarea:focus { border-color: #999;}
.fl { float: left;}
.fr { float: right; }
/*.clear {display: block;clear: both;width: 0; height: 0px; line-height: 0; overflow: hidden; font-size: 0;}*/
/*用在浮动元素后的空内容元素上*/
input[type="text"],
input[type="password"],
button {/*border: none;*/ outline: none; -webkit-appearance: none; /*padding: 0;*/ font-family: Simsun;/*vertical-align: bottom;*/}

.clearfix{ clear:both; height:0; }
.hidden{ display:none; visibility:hidden;}

.body-wrap{ width:100%; padding:30px 0; background-color:#eef2f6; }
.container{ width:1200px; margin:0 auto; border:1px solid #e3e3e3; background-color:#54a8e0;
         box-shadow:1px 1px 3px #ddd;
      -o-box-shadow:1px 1px 3px #ddd;
     -ms-box-shadow:1px 1px 3px #ddd;
    -moz-box-shadow:1px 1px 3px #ddd;
 -webkit-box-shadow:1px 1px 3px #ddd;   
 }
.main{ float:right; width:985px; min-height:755px; padding:10px 10px 50px 25px; background-color:#fff; }
.bgcolor{ background-color:#f9f9f9; }

/*----------------------header 样式 start-----------------------*/
.header { width:100%; margin:0 auto; min-width:1200px; background-color:#fff; }
.nav { height:26px; background:#2F8BD6; position:relative; min-width:1200px; }
.navmain { float:right; display:inline-block; height:26px; line-height:26px; position:absolute; right:20px;}
.navmain li { float:left; display:inline-block; border-left:1px solid #2f7cba; padding-left:15px; padding-right:15px;}
.navmain li a { color:#FFF; font-family:"宋体"; font-size:12px;}


.searchbox { height: 92px; /*margin-top:8px;*/ width: 100%; border-bottom:1px solid #cccbcb; 
          box-shadow: 2px 2px 5px #CCCBCB;
       -o-box-shadow: 2px 2px 5px #CCCBCB;
      -ms-box-shadow: 2px 2px 5px #CCCBCB;
     -moz-box-shadow: 2px 2px 5px #CCCBCB;
  -webkit-box-shadow: 2px 2px 5px #CCCBCB;
}
.searchmain { width:1200px; margin:0 auto; }
.search-left { float:left; width:300px; }
.logo{ background:url(../images/tlogo.png) no-repeat; float: left; width:154px; height: 61px; margin-bottom: 6px; margin-top:5px; padding-right:20px; border-right:1px dashed #ccc;}
.web-title{ background:url(../images/title.png) no-repeat; float: left; width:97px; height: 24px; margin-top:24px; margin-left:20px; }

/*检索框 start*/
.searchmain .search-form { position:relative; z-index:1; width:756px; height:68px; padding-top:24px;  float:right; /*background:url(../images/search-bg.png) no-repeat;*/ background-position: 0 -60px; }
.searchmain .search-input { float: left; width: 537px; height: 24px; padding: 4px 10px; margin-left:107px; font-size: 14px; line-height: 24px; vertical-align: bottom;  border:1px solid #d4d4d4 ; color:#999; background-color: #fafafa;   }
.searchmain .searchbtn { width:70px; height:34px; background:url(../images/search-btn.png) no-repeat center 7px #53a2e3; border:none; border-radius: 0;color: #fff;cursor: pointer;font-size: 14px; outline: none;padding: 0;padding-top: 4px\9;vertical-align: top;}
/*检索框 end*/
/*-----------------header 样式 end----------------------------------*/


/*---------------------------footer 样式 start---------------------------*/
.footer {background: #fdfdfd; width:100%; min-width:1200px; }
.footer a { color: #666;}
.footer a:hover {color: #f60;}
.botNav {height: 35px;margin: 0; padding: 0px 3px; background-color: #2F8BD6; text-align: center;}
.botNav a {font-size: 12px;color: #FFF !important;line-height: 35px;margin: 0px 10px;}
.botNav a:hover { text-decoration: underline;}
#bottom {clear: both;background: transparent url("../images/bottom.jpg") repeat-x scroll 0% 0%; padding: 10px 0; margin-top: 0; font-size: 12px;}
#bottom .botbox {width: 1194px; margin: 0px auto;padding: 0px 3px;line-height: 22px; overflow: hidden;}
.leftinside {width: 700px;float: left;color: #666;padding-top: 20px;padding-left:40px;}
.leftinside li {float: left;}
.leftinside b {display: block;}
.leftinside img {display: inline-block; vertical-align: middle; *display: inline; *zoom: 1; padding: 0;}
.rigfooter {float: right;width: 330px;padding: 15px 15px 0px 20px;color: #666;background: transparent url("../images/footerbg.png") no-repeat scroll 0px 0px;}
.rigfooter img {display: inline-block; vertical-align: middle;*display: inline;*zoom: 1;padding: 0;}
.botbox {line-height: 22px;}
/*---------------------------footer 样式 end------------------------------*/



/*---------------------------sidebar start------------------------------*/
.sidebar .user{ width:100%; padding-bottom:65px; margin:0 auto; border-bottom:1px solid #95e4f0; *padding-bottom:30px;}
.user .photo a{ display:block; width:80px; height:80px; margin:0 auto; background-position:0 -93px;  }
.user .photo img{ width:76px; height:76px; border-radius:50%; border: 2px solid #fff;}
.user .name{ width:100%;  text-align:center; clear:both; }
.user .name a{ font-family:"Microsoft Yahei"; color:#fff; line-height:35px; font-size:14px; font-weight:bold; }
.user .agency{ position:relative; z-index:999; float:right; min-height:35px;}
.user .agency b{ padding-right:15px; font-weight:normal; line-height:35px; color:#fff; font-size:12px; cursor:pointer; }
.user .agency .his-agency{ position:absolute; left:100%; top:-6px; display:none; padding:10px 20px; background-color:#fff; border:1px solid #999; border-left:none; border-radius:0 10px 10px 0;
          box-shadow: 2px 2px 5px #999;
       -o-box-shadow: 2px 2px 5px #999;
      -ms-box-shadow: 2px 2px 5px #999;
     -moz-box-shadow: 2px 2px 5px #999;
  -webkit-box-shadow: 2px 2px 5px #999;
}
.user .agency .his-agency li a{ line-height:24px; color:#333; white-space:nowrap; }
.user .agency .his-agency li a:hover{ color:#53a2e3; }
.user .agency:hover .his-agency{ display:block; }

/*一级菜单*/
.sidebar{ float:left; width:180px; padding:47px 0 30px; background-position:0 -152px; }
.sidebar .nav-list{ margin:30px 15px 0; }
.nav-list li i.icon{ margin-left:18px; margin-right:14px; font-size: 18px; }
.nav-list li a{ display:block; padding:9px 0; line-height:17px;  font-size:14px; color:#fff; }
.nav-list li a:hover{ background-color: #278DBD; }
.nav-list a.cur,
.nav-list a.cur:hover{ background-color:#2785bd; font-weight:bold; }
.nav-list li .new-tip{ margin-left:5px; }
/*二级菜单*/
.nav-list li .subnav a{ padding-left:50px; line-height:17px; font-size:12px;   }
/*用户管理*/
.nav-list .hr{ padding-top:12px; margin-top:15px; border-top:1px solid #95e4f0; }
/*---------------------------sidebar end------------------------------*/


/*-------------------工具栏 start ------------------------*/
/*全选、清除*/
.toolbar{ padding-bottom:10px; padding-top:20px; clear:both; min-height:26px; overflow:visible; border-bottom:1px dashed #e6e6e6; }
.toolbar .btn-list { float:left; width: 500px; height:26px; margin-left:10px; overflow:visible; white-space:nowrap;   }
.toolbar .btn-list dd a { display:inline-block; height:24px; padding:0 10px; border:1px solid #e0e0e0; white-space:nowrap; line-height:20px; }
.toolbar .btn-list dd a { *display:inline; }
.toolbar .btn-list .icon{ width:20px; font-size:16px;  }
.toolbar .btn-list dt{ float:left; margin-right:20px; line-height: 28px;  }
.toolbar .btn-list dd { float:left; margin-left:20px;  }
.toolbar .btn-list dt input{ margin-right:3px; cursor:pointer; }
.toolbar .btn-list dt .checkclear{ padding:0; margin-left:3px; background:none; border:none; }

.toolbar .btn-list dd { position:relative; z-index:10; }
.toolbar .btn-list dd li { line-height:20px; }
.toolbar .btn-list dd ul{ position:absolute; top:20px; left:-11px; display:none; padding:5px 10px; background-color:#fff; border:1px solid #b9baba;
          box-shadow: 2px 2px 5px #CCCBCB;
       -o-box-shadow: 2px 2px 5px #CCCBCB;
      -ms-box-shadow: 2px 2px 5px #CCCBCB;
     -moz-box-shadow: 2px 2px 5px #CCCBCB;
  -webkit-box-shadow: 2px 2px 5px #CCCBCB;
 }
.toolbar .btn-list dd:hover ul{ display:block;}

/*页数*/
.toolbar .count{ float:right; min-width:90px; line-height: 26px; font-family:"microsoft yahei"; }
.toolbar .count em{ margin:0 5px; }
.toolbar .count a{ padding:0 10px; margin-left:5px; font-weight:bold; color:#999; font-size:12px; line-height:18px; border:1px solid #aaa; border-radius:4px; }
.toolbar .count a:hover{ color:#fff; background-color:#53a2e3; border-color:#53a2e3;}
.toolbar .count .next{ margin-right:5px;}
.toolbar .count .noeffect{ cursor:default; color:#ccc; border-color:#ccc; }
.toolbar .count .noeffect:hover{ color:#ccc; background-color:#fff; border-color:#ccc; }
/*------------------------工具栏 end -------------------------*/


/*-------------------------工具栏排序 start----------------------------*/
.sort{ position:relative; color:#666; *zoom:1;}
.sort-default{ display:inline-block; height:24px; padding:0 3px 0 8px; line-height:24px; font-size:12px; cursor:pointer; border:1px solid #ebeaea}
.sort-default span{ display:inline-block; /*vertical-align:middle;*/ min-width:70px; overflow:hidden; text-overflow:ellipsis;  white-space:nowrap; }
.sort-default .icon{ display: inline-block; vertical-align:top; width: 12px; height: 8px; margin-top: 9px; color:#999; font-style: normal; overflow: hidden; background: url(../images/icon-btn.png) 0 -119px; }

.sort-list{ position:absolute; left:-1px; top:0; z-index:20; display:none; width:100%; border:1px solid #dfdede; background:#fff; /**top:-1px;*/}
.sort-list a{ display:block; white-space:nowrap; }
.sort-list li{ height:24px; padding:0 9px; line-height:24px; overflow:hidden;  }
.sort-list li:hover{background:#f5f5f5; }
.sort-list li:hover a,
.sort-list li.select a{ color:#0077cb; text-decoration:none; }
.sort_list li a i{ display:none; }

.sort-default span i,
.sort-list li.select i{ width:12px; height:12px; display:inline-block; vertical-align:middle; background-image:url(../images/icon-btn.png); background-repeat:no-repeat; *vertical-align:auto; }
.sort i.ascend{ background-position:0 -82px; }
.sort i.descend{  background-position:0 -70px;}
/*---------------------------工具栏排序 end----------------------------*/


/*---------------------------分页 start*------------------------------*/
.pages{ width:100%;  text-align:center;padding:19px 0 40px 0; white-space:nowrap;  }
.pages .totalcount{ display:inline-block; margin-right:10px; white-space:nowrap;  }
.pages .totalcount{ *display:inline; }
.pages .totalcount em{ color:#53a2e4; }
.pages .content{ display:inline-block; /*height:30px;*/ font-size:12px;}
.pages .content{ *display:inline; }
.pages a,
.pages .cur{ display:inline-block; height:12px; font-size:12px; vertical-align:middle; line-height:12px;overflow:hidden; padding:5px 8px; margin:10px 3px 10px 0; border:1px solid #e4e4e4;  }
.pages a,
.pages .cur{ *display:inline;}
.pages .cur,
.pages a:hover{color:#fff; background-color:#4b9ced;}
.pages .pre,
.pages .last,
.pages .first,
.pages .next{ font-size:12px; padding:5px; margin:8px 3px 8px 0;  }
/*----------------------------分页 end*------------------------------*/
