
@{
    Layout = null;
}
<div style='text-align:center'>
    <a href='~/statictics/log/' title='网站统计'>
        <img alt='统计' src='~/Images/statictics/statictics.gif' style='object-fit:fill;height:20px;' />
    </a>
    </div>