body {
  margin:0px;
  background-color:rgba(246, 246, 246, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1324px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:64px;
  top:79px;
  width:1247px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:1230px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1247px;
  height:2px;
}
#u1 {
  position:absolute;
  left:105px;
  top:23px;
  width:201px;
  height:45px;
  font-family:'宋体 常规', '宋体';
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:45px;
}
#u2 {
  position:absolute;
  left:2px;
  top:14px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:356px;
  top:38px;
  width:117px;
  height:33px;
  font-family:'宋体 常规', '宋体';
  font-size:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:33px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:329px;
  top:38px;
  width:10px;
  height:25px;
}
#u5_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u5_end {
  position:absolute;
  left:-5px;
  top:8px;
  width:20px;
  height:18px;
}
#u5_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:25px;
}
#u6 {
  position:absolute;
  left:64px;
  top:85px;
  width:1247px;
  height:482px;
  opacity:0.65;
  color:#FF9933;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1247px;
  height:482px;
}
#u7 {
  position:absolute;
  left:2px;
  top:233px;
  width:1243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:841px;
  top:136px;
  width:332px;
  height:353px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:353px;
}
#u9 {
  position:absolute;
  left:2px;
  top:168px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:842px;
  top:137px;
  width:165px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:45px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1008px;
  top:136px;
  width:164px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:45px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:160px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:876px;
  top:214px;
  width:39px;
  height:36px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:876px;
  top:271px;
  width:39px;
  height:36px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16 {
  position:absolute;
  left:910px;
  top:214px;
  width:229px;
  height:36px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#C9C9C9;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17 {
  position:absolute;
  left:910px;
  top:271px;
  width:229px;
  height:36px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#C9C9C9;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18 {
  position:absolute;
  left:885px;
  top:223px;
  width:21px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:909px;
  top:215px;
  width:4px;
  height:35px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:35px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:909px;
  top:272px;
  width:4px;
  height:35px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:35px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:885px;
  top:280px;
  width:20px;
  height:17px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1061px;
  top:322px;
  width:76px;
  height:15px;
  font-size:12px;
  color:#016AB4;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:876px;
  top:365px;
  width:115px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1021px;
  top:365px;
  width:116px;
  height:36px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:-10px;
  top:540px;
  width:1344px;
  height:200px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:200px;
}
#u33 {
  position:absolute;
  left:2px;
  top:92px;
  width:1340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1112px;
  top:542px;
  width:201px;
  height:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:28px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:62px;
  top:541px;
  width:154px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:171px;
  top:179px;
  width:576px;
  height:220px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:220px;
}
#u39 {
  position:absolute;
  left:2px;
  top:102px;
  width:572px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:920px;
  top:1px;
  width:228px;
  height:25px;
}
#u41_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:234px;
  height:31px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
}
#u43_img.selected {
}
#u43.selected {
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:75px;
  top:0px;
  width:75px;
  height:25px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
}
#u45_img.selected {
}
#u45.selected {
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:150px;
  top:0px;
  width:78px;
  height:25px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
}
#u47_img.selected {
}
#u47.selected {
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:25px;
  width:120px;
  height:75px;
  visibility:hidden;
}
#u49_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:81px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:80px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  color:#666666;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u51_img.selected {
}
#u51.selected {
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:6px;
  top:4px;
  width:112px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:25px;
  width:120px;
  height:25px;
  color:#666666;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u53_img.selected {
}
#u53.selected {
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:6px;
  top:4px;
  width:112px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:50px;
  width:120px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u55_img.selected {
}
#u55.selected {
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:6px;
  top:5px;
  width:112px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:916px;
  top:7px;
  width:10px;
  height:13px;
}
#u57_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u57_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:13px;
}
#u58 {
  position:absolute;
  left:990px;
  top:7px;
  width:10px;
  height:13px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:13px;
}
#u59 {
  position:absolute;
  left:1070px;
  top:7px;
  width:10px;
  height:13px;
}
#u59_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u59_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u59_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:13px;
}
#u60 {
  position:absolute;
  left:705px;
  top:1px;
  width:215px;
  height:25px;
}
#u60_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:221px;
  height:31px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u62_img.selected {
}
#u62.selected {
}
#u62_img.mouseOver {
}
#u62.mouseOver {
}
#u63 {
  position:absolute;
  left:2px;
  top:5px;
  width:62px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:66px;
  top:0px;
  width:75px;
  height:25px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
}
#u64_img.selected {
}
#u64.selected {
}
#u64_img.mouseOver {
}
#u64.mouseOver {
}
#u65 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:141px;
  top:0px;
  width:74px;
  height:25px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u66_img.selected {
}
#u66.selected {
}
#u66_img.mouseOver {
}
#u66.mouseOver {
}
#u67 {
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:768px;
  top:7px;
  width:10px;
  height:13px;
}
#u68_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u68_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u68_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:13px;
}
#u69 {
  position:absolute;
  left:839px;
  top:7px;
  width:10px;
  height:13px;
}
#u69_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u69_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u69_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:13px;
}
#u70 {
  position:absolute;
  left:1148px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-size:12px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u71 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1207px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-size:12px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
