
@{
    Layout = null;
    ViewBag.Title = "泰安环保办公系统";
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap CSS -->
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="Content/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="Content/elegant-icons-style.css" rel="stylesheet" />
    <link href="Content/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="Content/style.css" rel="stylesheet">
    <link href="Content/style-responsive.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
   
    <style>
        label {
        color:red;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-img3-body">

    <div class="container">

        <form class="login-form" action="~/Login">
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" id="username" name="username" placeholder="用户名" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                </div>
                @*<label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                    <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
                </label>*@
                @*<button class="btn btn-primary btn-lg btn-block" type="submit">登录</button>*@
                @*<button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>*@
                <input class="btn btn-info btn-lg btn-block" type="button" value="登录" onclick="login()"/>
            </div>
        </form>

    </div>

    <script>
        $(function () {
            $(".login-form").validate({
                rules: {
                    username: "required",
                    password:"required"
                }
                ,messages: {
                    username: {
                        required:"请输入用户名"
                    },
                    password:
                    {
                        required:"密码不能为空"
                    }
                }
            });
        });
        function login() {
            $.ajax({
                url: "./login",
                type: "post",
                data: $(".login-form").serialize(),
                success: function (data) {
                    if (data.result) {
                        location.href = './home';
                    } else {
                        alert("" + data.message);
                    }
                },
                error: function () {
                    console.log("请求失败");
                }
            })
        }

    </script>
</body>
</html>

