body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1946px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-20px;
  top:-20px;
  width:628px;
  height:760px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:760px;
}
#u1 {
  position:absolute;
  left:2px;
  top:372px;
  width:624px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:778px;
  top:0px;
  width:1px;
  height:941px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:941px;
}
#u3 {
  position:absolute;
  left:2px;
  top:462px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:778px;
  top:941px;
  width:1px;
  height:1045px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1045px;
}
#u5 {
  position:absolute;
  left:2px;
  top:514px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:1986px;
  width:778px;
  height:1px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:1px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-8px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1px;
  top:693px;
  width:1099px;
  height:959px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:959px;
}
#u9 {
  position:absolute;
  left:2px;
  top:472px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1347px;
  top:2000px;
  width:1px;
  height:1176px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1176px;
}
#u11 {
  position:absolute;
  left:2px;
  top:580px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1347px;
  top:3176px;
  width:1px;
  height:810px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:810px;
}
#u13 {
  position:absolute;
  left:2px;
  top:397px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:778px;
  top:1986px;
  width:1348px;
  height:1px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:1px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:2126px;
  top:0px;
  width:1px;
  height:62px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:62px;
}
#u17 {
  position:absolute;
  left:2px;
  top:23px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:2126px;
  top:62px;
  width:1px;
  height:1987px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1987px;
}
#u19 {
  position:absolute;
  left:2px;
  top:986px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:-80px;
  top:1609px;
  width:620px;
  height:832px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:832px;
}
#u21 {
  position:absolute;
  left:2px;
  top:408px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:-181px;
  top:2396px;
  width:1081px;
  height:650px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:650px;
}
#u23 {
  position:absolute;
  left:2px;
  top:317px;
  width:1077px;
  visibility:hidden;
  word-wrap:break-word;
}
